<!--The content below is only a placeholder and can be replaced.-->

<h2>Observables and Subjects</h2>


<button (click)="destroy()">Destroy component</button>

<button (click)="createIntervalObservable()">Interval Observable</button>

<button (click)="createOFObservable()">OF Observable</button>

<button (click)="createFromObservable()">FROM Observable</button>

<button (click)="createRangeObservable()">Range Observable</button>

<button (click)="createTimerObservable()">Timer Observable</button>

<button (click)="creatingZipObservable()">ZIP Observable</button>

<button (click)="createColdObservable()">Cold Observable</button>

<button (click)="createHotObservable()">Hot Observable</button>

<button (click)="SubjectAsDataConsumer()">Subject-Data Consumer</button>

<button (click)="SubjectAsDataProducer()">Subject-Data Producer</button>

<button (click)="createReplaySubject()">Replay Subject</button>

<button (click)="createBehaviorSubject()">Behavior Subject</button>
